body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}
.logo > span {
  color: #2196f3;
}
.navi a {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.17;
  font-size: 14px;
  color: #212121;
}
.navi a:hover,
.navi a:focus {
  color: #2196f3;
}
.menu button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}
.menu button:hover,
.menu button:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.contact a {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
}
.projects p {
  color: #757575;
  size: 16px;
  line-height: 1.88;
}
.projects p[title] {
  font-weight: 700;
  size: 18px;
  line-height: 2;
  color: #212121;
}
.footer-adres {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
}
.footer-adres a {
  color: #ffffff99;
  text-decoration: none;
}
